<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenido al Estacionamiento Cespi</h1>
    <p class="lead">
      El sistema de Estacionamiento Cespi permite comenzar y finalizas su
      Estacionamiento en la Ciudad
    </p>
    <p>
      Para poder estacionar tu saldo tiene que ser mayor al costo del
      estacionamiento por hora en la Ciudad
    </p>
    <p>Tambien se podran encontrar funcionalidades como</p>
    <p>* Guardar patentes en tu lista de Patentes</p>
    <p>* Cargar Saldo</p>
    <p>* Mostrar ultimos movimientos en tu cuenta</p>
    <p>* Iniciar estacionamiento</p>
  </div>
</div>
